.App {
  color: aliceblue;
  list-style: none;
  background-image: url(img/80MWuG.png);
  background-attachment: fixed;
  background-size: cover;
  /*display: flex;*/
  max-width: 2000px;
  width: 100%;
  height: auto;
  min-height: 1000px
}

li {
  list-style: none;
}

.componentBox {
  display: flex;
  flex-direction: row;
  min-height: 900px;
  flex-wrap: wrap;
  justify-content: center;
}